version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: vaultdoc_db
      POSTGRES_USER: vaultdoc_user
      POSTGRES_PASSWORD: vaultdoc_pass
    ports:
      - "5433:5432"  # 5433 чтобы не конфликтовать с другими Postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: unless-stopped

volumes:
  postgres_data:
